[submodule "ADNKit"]
	path = ADNKit
	url = git@github.com:joeldev/ADNKit.git
[submodule "fmdb"]
	path = fmdb
	url = git@github.com:ccgus/fmdb.git
[submodule "M13OrderedDictionary"]
	path = M13OrderedDictionary
	url = git@github.com:Marxon13/M13OrderedDictionary.git
